<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{parts/header.html :: header}"></head>
<body>
<nav th:insert="parts/navbar.html :: navbar"></nav>
<div class="container mt-5">
    <div th:if="${param.error}">Check username or password!</div>
    <div th:if="${param.logout}">You are logged out!</div>
    <div th:text="${message}"></div>
    <form th:replace="~{parts/loginForm.html :: loginForm(isRegisterForm = 'false', url = @{/login})}"></form>
</div>
    <div th:insert="~{parts/footer.html :: footer}"></div>
</body>
</html>


